[submodule "Sprawozdanie-main/source/rozdzial2/bezpieczenstwo"]
	path = Sprawozdanie-main/source/rozdzial2/bezpieczenstwo
	url = https://github.com/BlazejUl/bezpieczenstwo
[submodule "Sprawozdanie-main/source/kod-db"]
	path = Sprawozdanie-main/source/kod-db
	url = https://github.com/BlazejUl/kod-db
[submodule "Sprawozdanie-main/source/rozdzial2/Konfiguracja_baz_danych"]
	path = Sprawozdanie-main/source/rozdzial2/Konfiguracja_baz_danych
	url = https://github.com/Chaiolites/Konfiguracja_baz_danych
[submodule "Sprawozdanie-main/source/rozdzial2/Sprzet-dla-bazy-danych"]
	path = Sprawozdanie-main/source/rozdzial2/Sprzet-dla-bazy-danych
	url = https://github.com/oszczeda/Sprzet-dla-bazy-danych
[submodule "Sprawozdanie-main/source/rozdzial2/Wydajnosc_Skalowanie_i_Replikacja"]
	path = Sprawozdanie-main/source/rozdzial2/Wydajnosc_Skalowanie_i_Replikacja
	url = https://github.com/Broksonn/Wydajnosc_Skalowanie_i_Replikacja
[submodule "Sprawozdanie-main/source/rozdzial2/repo-wspolne"]
	path = Sprawozdanie-main/source/rozdzial2/repo-wspolne
	url = https://github.com/GrzegorzSzczepanek/repo-wspolne
[submodule "Sprawozdanie-main/source/rozdzial2/Kopie_zapasowe_i_odzyskiwanie_danych"]
	path = Sprawozdanie-main/source/rozdzial2/Kopie_zapasowe_i_odzyskiwanie_danych
	url = https://github.com/m-smieja/Kopie_zapasowe_i_odzyskiwanie_danych
[submodule "Sprawozdanie-main/source/rozdzial2/Partycjonowanie-danych"]
	path = Sprawozdanie-main/source/rozdzial2/Partycjonowanie-danych
	url = https://github.com/BartekHen/Partycjonowanie-danych
[submodule "Sprawozdanie-main/source/rozdzial2/Kontrola_i_konserwacja"]
	path = Sprawozdanie-main/source/rozdzial2/Kontrola_i_konserwacja
	url = https://github.com/Pi0trM/Kontrola_i_konserwacja
[submodule "sprawozdanie/source/rozdzial2/bezpieczenstwo"]
	path = sprawozdanie/source/rozdzial2/bezpieczenstwo
	url = https://github.com/BlazejUl/bezpieczenstwo
[submodule "sprawozdanie/source/rozdzial2/Konfiguracja_baz_danych"]
	path = sprawozdanie/source/rozdzial2/Konfiguracja_baz_danych
	url = https://github.com/Chaiolites/Konfiguracja_baz_danych
[submodule "sprawozdanie/source/rozdzial2/Sprzet-dla-bazy-danych"]
	path = sprawozdanie/source/rozdzial2/Sprzet-dla-bazy-danych
	url = https://github.com/oszczeda/Sprzet-dla-bazy-danych
[submodule "sprawozdanie/source/rozdzial2/Wydajnosc_Skalowanie_i_Replikacja"]
	path = sprawozdanie/source/rozdzial2/Wydajnosc_Skalowanie_i_Replikacja
	url = https://github.com/Broksonn/Wydajnosc_Skalowanie_i_Replikacja
[submodule "sprawozdanie/source/rozdzial2/repo-wspolne"]
	path = sprawozdanie/source/rozdzial2/repo-wspolne
	url = https://github.com/GrzegorzSzczepanek/repo-wspolne
[submodule "sprawozdanie/source/rozdzial2/Kopie_zapasowe_i_odzyskiwanie_danych"]
	path = sprawozdanie/source/rozdzial2/Kopie_zapasowe_i_odzyskiwanie_danych
	url = https://github.com/m-smieja/Kopie_zapasowe_i_odzyskiwanie_danych
[submodule "sprawozdanie/source/rozdzial2/Partycjonowanie-danych"]
	path = sprawozdanie/source/rozdzial2/Partycjonowanie-danych
	url = https://github.com/BartekHen/Partycjonowanie-danych
[submodule "sprawozdanie/source/rozdzial2/Kontrola_i_konserwacja"]
	path = sprawozdanie/source/rozdzial2/Kontrola_i_konserwacja
	url = https://github.com/Pi0trM/Kontrola_i_konserwacja
